<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <!-- 😃 BOOTSTRAP 😃 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <!-- 😢 FIM DO BOOTSTRAP 😢 -->

    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>

    <section>
        <ul class="nav nav-tabs nav-cadastro">
            <li class="nav-item1">
                <a class="nav-link nav-ativo" aria-current="page" href="index.html">Cadastrar</a>
            </li>
            <li class="nav-item1">
                <a class="nav-link nav-inativo" href="exibir.html">Exibição</a>
            </li>
        </ul>

        <div class="abaUm">

            <div class="div_logo">
                <img src="../../Documentos/logo.png" alt="Logo da Empresa" width="400px">
            </div>
            <div class="div_cadastro">
                <form>
                    <div class="espaco"></div>

                    <div class="inputs_cadastro">

                        <h2>Cadastrar</h2>

                        <div class="input-group mb-3 tipo">
                            <label for="id_tipo" class="input-group-text">Tipo: </label>
                            <input type="text" name="tipo" class="form-control" id="id_tipo"
                                placeholder="Tipo do automóvel" required minlength="4" maxlength="15">
                        </div>

                        <div class="input-group mb-3 marca">
                            <label class="input-group-text">Marca: </label>
                            <input type="text" name="marca" class="form-control" id="input_marca"
                                placeholder="Marca do veículo" required minlength="1" maxlength="7">
                        </div>
                        <div class="input-group mb-3 categoria">
                            <label for="label_categoria" class="input-group-text">Categoria: </label>
                            <select class="form-select form-control" name="categoria" id="id_categoria">
                                <option selected>Selecione</option>
                                <option value="1">Oficial</option>
                                <option value="2">De representação diplomática</option>
                                <option value="3">próprio</option>
                                <option value="4">alugado</option>
                                <option value="5">particular</option>
                                <option value="6">De aprendizagem</option>
                            </select>
                        </div>

                        <div class="input-group mb-3 combustivel">
                            <label for="label_combustivel" class="input-group-text">Combustivel: </label>
                            <select class="form-select form-control" name="combustivel" id="id_combustivel">
                                <option selected>Selecione</option>
                                <option value="1">Gasolina</option>
                                <option value="2">Etanol</option>
                                <option value="3">Diesel</option>
                                <option value="4">Elétrico</option>
                                <option value="5">Outro</option>
                            </select>
                        </div>

                        <div class="input-group mb-3 placa">
                            <label for="label_placa" class="input-group-text">Placa: </label>
                            <input type="text" name="placa" class="form-control" placeholder="Placa do automóvel"
                                id="id_placa" required minlength="7" maxlength="7">
                        </div>

                        <div class="input-group mb-3 cor">
                            <label for="label_cor" class="input-group-text">Cor: </label>
                            <input type="text" name="cor" class="form-control" placeholder="Cor do automóvel"
                                id="id_cor" required minlength="4" maxlength="10">
                        </div>

                        <div class="input-group mb-3 quantEixos">
                            <label for="label_quantEixos" class="input-group-text">Quantidade de Eixos: </label>
                            <input type="number" name="quantEixos" class="form-control"
                                placeholder="Quantidade de Eixos" id="id_quantEixos" required minlength="1"
                                maxlength="2">
                        </div>

                        <div class="input-group mb-3 altura">
                            <label for="label_altura" class="input-group-text">Altura (Em Cm): </label>
                            <input type="number" name="altura" class="form-control" placeholder="Altura do automóvel"
                                id="id_altura" required minlength="2" maxlength="3">
                        </div>

                        <div class="input-group mb-3 peso">
                            <label for="label_peso" class="input-group-text">Peso (Em Kg): </label>
                            <input type="number" name="peso" class="form-control" placeholder="Peso do automóvel"
                                id="id_peso" required minlength="3" maxlength="7">
                        </div>

                        <div class="cadastrar">
                            <input type="button" value="Cadastrar" class="input_cadastrar" onclick="cadastrar()">
                        </div>
                    </div>

                </form>
            </div>
        </div><!-- FIM!!abaUm-->
    </section>
    <script src="js/request.js"></script>
</body>

</html>