:root {
    --cor1: #34cccc;
    --cor2: #b4b4bc;
    --cor3: #1c6c6c;
    --cor4: #7c7c84;
    --cor5: #f3f3f3;
    ;
}

img {
    width: 30rem;
    margin-left: -10%;
}

body {
    background-color: var(--cor3) !important;
}

section {
    background-color: var(--cor5);
    margin: 3.5%;
    margin-top: 2%;
}

h2 {
    text-align: center;
}

.abaUm {
    display: flex;
    flex-wrap: nowrap;

}

.tipoEmarca {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.marca {
    margin-right: 10px;
    /* ou ajuste conforme necessário */
}


.div_logo {
    margin-left: 100px;
}

.div_cadastro {
    margin: 3.5%;
    background-color: var(--cor3) !important;
    padding: 3.5% 6% 2%;
}

.cadastrar {
    display: flex;
    justify-content: center;
}

.nav-item {
    background-color: var(--cor5);
    color: var(--cor3);
}

.nav-inativo {
    background-color: var(--cor2) !important;
    color: var(--cor3) !important;
}

.nav-ativo {
    background-color: var(--cor5) !important;
    color: var(--cor3) !important;
}


.nav-tabs,
li {
    background-color: var(--cor3) !important;

}

.nav-item1 {
    margin-right: 2px;
}

.input_cadastrar {
    width: 50%;
    border-radius: 5%;
    margin-top: 5px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

a {
    color: var(--cor3) !important;
}